.nav-item{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-left: 49px;
    padding-right: 49px;
  }

.navbar-nav {
    width: 100%
}


.navbar {
  padding: 0.3rem 0 !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  background-color:#0f3242;
  margin-bottom: -10px;
}
  
.navbar-toggler{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  text-align: right;
  margin-left: auto;
  margin-top: auto;
  margin-right: 5%;
  margin-top: 5%;
  border: none;
   
      
}

.navbar-dark .navbar-toggler-icon {
  border-color: white;
}
  
.navbar-light .navbar-nav .nav-link.active {
  color:  #edf053;
}
  
.navbar-light .navbar-nav .nav-link:hover {
  font-size: 20px;
  font-weight: bold;
  color: #b2b416;
}
  
.navbar-light .navbar-nav .nav-link{
  color: white
}

